doctype html
html
  head
    title= title
    // The static folder points to the public folder in source.
    link(rel='stylesheet', href='/static/css/style.css')
  body
    block content
      h1= title
      h2 something more #{title}
