$mdc-theme-primary: #5d1049;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: #e30425;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-surface: #ffffff;
$mdc-theme-on-surface: #000000;
$mdc-theme-background: #f4e2ed;
$mdc-theme-on-background: #000000;
