<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h1 th:if="${question != null}" th:text="${question.getQuestionText()}"></h1>
<p th:if="${error_message != null}">
    <strong th:text="${error_message}"></strong>
</p>

<!--<form action="{% url 'polls:vote' question.id %}" method="post">-->
<form th:action="${'/vote/' + question.getId() + '.do'}" method="post" th:if="${choices != null}">
    <label th:each="choice: ${choices}">
        <input type="radio" name="choice" th:id="${'choice' + choice.getId()}" th:value="${choice.getId()}"/>
        <span th:text="${choice.getText()}"></span>
        <br/>
    </label>
    <input type="submit" value="Vote" />
</form>
<a th:href="${'/'}">Go back to list</a>
</body>
</html>
