<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing codes</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}" />
</head>
<body>
<ul th:if="${!questions.isEmpty()}">
    <!--{% for question in latest_question_list %}-->
    <!--<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>-->
    <li>question.question_text</li>
    <!--{% endfor %}-->
</ul>
<p th:if="${questions.isEmpty()}">No polls are available now.</p>
</body>
</html>